@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.navbar,
.nav {
  display: flex;
}

.navbar {
  background-color: $color-primary-tint;
  color: $color-white;
  justify-content: space-between;
  align-items: center;
  @include navSpacing;
}

.nav {
  align-items: center;
}
