@import '@styles/variables.module.scss';

.cta {
  padding: $spacing-2xs $spacing-md;
  border-radius: 40px;
}

.secondary {
  display: inline-flex;
  & > * {
    margin-left: $spacing-3xs;
  }
}

.outline {
  border: 1px solid $color-grey;

  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.fill {
  background-color: $color-secondary;
}

.white {
  color: $color-white;
}
