@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.main {
  position: relative;
  @include grid2Col;
  @include sectionSpacing;
  background-color: $color-primary-tint;
}

.left {
  padding-right: $spacing-2xl;
}

.banner {
  position: absolute;
  bottom: 0;
  @include grid2Col;
  gap: 0 $spacing-sm;
  padding: $spacing-sm $spacing-md;
  background-color: $color-secondary;
}

.socialIcons {
  & > * {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
  :not(:last-of-type) {
    margin-right: $spacing-xs;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: $spacing-sm 10vw;
}
