@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.section {
  @include sectionSpacing;

  &Top {
    display: flex;
    justify-content: space-between;
  }
}

.grid {
  @include grid3Col;
  gap: $spacing-2xs;
}
