@import '@styles/variables.module.scss';

.navbar,
.nav {
  display: flex;
}

.navbar {
  background-color: $color-primary-tint;
  color: $color-white;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm $spacing-3xl;
}

.nav {
  align-items: center;
}
