// Font Weight
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Color
$color-primary: #9d6381;
$color-primary-tint: #612940;
$color-primary-accent: #fdecef;

$color-secondary: #f2af29;

$color-grey: #e9e9e9;
$color-white: #ffffff;
$color-black: #231f20;

// Spacing
$spacing-3xl: 160;
$spacing-2xl: 128;
$spacing-xl: 96;
$spacing-lg: 64;
$spacing-md: 48;
$spacing-sm: 32;
$spacing-xs: 24;
$spacing-2xl: 16;
$spacing-3xl: 8;
