// Font Weight
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Color
$color-primary: #9d6381;
$color-primary-tint: #612940;
$color-primary-accent: #fdecef;

$color-secondary: #f2af29;

$color-grey: #cecece;
$color-white: #ffffff;
$color-black: #231f20;

// Spacing
$spacing-3xl: 10rem;
$spacing-2xl: 8rem;
$spacing-xl: 6rem;
$spacing-lg: 4rem;
$spacing-md: 3rem;
$spacing-sm: 2rem;
$spacing-xs: 1.5rem;
$spacing-2xs: 1rem;
$spacing-3xs: 0.5rem;
