@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.section {
  @include sectionSpacing;
  @include grid3Col;
  gap: $spacing-2xl;

  background-color: $color-primary-accent;
}

.right {
  @include grid2Col;
  grid-column-start: 2;
  grid-column-end: 4;

  gap: $spacing-md;
}

@media (max-width: 1085px) {
  .section {
    display: block;
  }

  .left {
    margin-bottom: $spacing-sm;
  }

  .right {
    gap: $spacing-lg;
  }
}
