@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.section {
  @include grid2Col;
  @include sectionSpacing;
  background-color: $color-primary-tint;
}

.btnIcon {
  height: 500px;
}

.imgContainer {
  position: relative;
  width: 65%;
  height: 100%;
  margin-left: auto;
}
