@import '@styles/variables.module.scss';

.section {
  display: grid;
  background-color: $color-primary-tint;
  grid-template-columns: repeat(2, 1fr);
  padding: $spacing-2xl $spacing-3xl;
}

.btnIcon {
  height: 500px;
}
